@font-face {
    font-family: 'Brutal Type';
    src: url('../fonts/BrutalType.woff2') format('woff2'),
        url('../fonts/BrutalType.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type Light';
    src: url('../fonts/BrutalType-Light.woff2') format('woff2'),
        url('../fonts/BrutalType-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type ExtraLight';
    src: url('../fonts/BrutalType-ExtraLight.woff2') format('woff2'),
        url('../fonts/BrutalType-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type Medium';
    src: url('../fonts/BrutalType-Medium.woff2') format('woff2'),
        url('../fonts/BrutalType-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}