@mixin layout {
    width: 1366px;
    margin: 0 auto;
    display: block;
    position: relative;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}